.font {
  &__user-list {
    &__title {
      color: $text-black;
      font-weight: 700;
      font-size: 18px;
    }
    &__name {
      color: $text-black;
      font-weight: 700;
      font-size: 15px;
    }
    &__account {
      color: $text-gray;
      font-weight: 500;
      font-size: 15px;
    }
  }
  &__chatroom {
    &__title {
      color: $text-black;
      font-weight: 700;
      font-size: 18px;
    }
  }
}
