// color setting
$theme-blue: #0e76a8;
$text-white: #ffffff;
$text-black: #1c1c1c;
$text-dark-blue: #0a4e6d;
$text-gray: #657786;
$link-skyblue: #0099ff;
$default-hint-color: #657786;
$active-hint-color: #50b5ff;
$error-hint-color: #fc5a5a;
$input-bg-color: #f5f8fa;
$border-gray: #e6ecf0;
$like-red: #e0245e;
$white-bg: #ffffff;
$hover-hint-bg: #fbfbfb;
$status-pill-bg: #e5e5e5;
$chat-bubble-bg: #e6ecf0;

// font-setting
$standard-font-family: 'Noto Sans TC', sans-serif;
$brand-font-family: 'Lato', 'Noto Sans TC', sans-serif;
$standard-font-size: 16px;

// RWD setting
$phone-width: 375px;
$pad-width: 540px;
$pc-width: 900px;
$max-width: 1056px;

// scale parameter
$app-max-width: 1200px;
$header-height: 80px;
