// color setting
$text-white: #ffffff;
$text-black: #1c1c1c;
$text-gray: #657786;
$ac-orange: #ff6600;
$link-skyblue: #0099ff;
$default-hint-color: #657786;
$active-hint-color: #50b5ff;
$error-hint-color: #fc5a5a;
$input-bg-color: #f5f8fa;
$border-gray: #e6ecf0;
$like-red: #e0245e;
$status-pill-bg: #e5e5e5;
$chat-bubble-bg: #e6ecf0;

// font-setting
$standard-font-family: "Noto Sans TC", sans-serif;
$brand-font-family: "Lato", "Noto Sans TC", sans-serif;
$standard-font-size: 16px;

// RWD setting
$phone-width: 375px;
$pad-width: 540px;
$pc-width: 900px;
$max-width: 1056px;